<h1><%= @character.name %></h1>
<%= image_tag @character.image_url %>
<p><%= @character.title %></p>
<p><%= @character.house.name %></p>

<br>
<p><%= link_to "Edit Character", edit_house_character_path(@house, @character) %></p>
<p><%= link_to "Delete Character", house_character_path(@character),
        method: :delete,
        data: {confirm: 'Sure?'} %></p>
